body {
	margin: 0;
}

section {
	margin-inline-start: 22px;
	transform: translateY(-120px);
	min-height: 551px;
}

h1 {
	font-size: 48px;
	font-weight: 400;
	color: var(--neutral-dark);
	text-align: center;
	margin-block: 52px;
}

article {
	margin-bottom: 96px;
}

.article-title {
	display: flex;
	align-items: center;
	gap: 24px;
	transform: translateX(calc((22px + 7px + 22px) * -1));
	position: relative;
}

.article-title .pre-line {
	height: 20px;
	width: 100px;
	background-color: var(--primary);
}

.article-title .pre-line::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 22px;
	width: 7px;
	height: 20px;
	background-color: #fff;
}

.article-title .post-line {
	height: 8px;
	flex-grow: 1;
	background-color: var(--primary);
	position: relative;
	display: flex;
	align-items: center;
	gap: 64px;
}

.article-title .post-line::before {
	content: "";
	height: 20px;
	flex-grow: 1;
	background-color: var(--primary);
}

.article-title .post-line::after {
	content: "";
	height: 20px;
	width: 100px;
	background-color: var(--primary);
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 28px;
	margin: 0;
}

.article-body {
	transform: translateX(calc((22px + 7px + 22px) * -1 + 100px + 24px));
	font-size: 20px;
	margin-block: 32px;
	width: 60vw;
}

.article-body p {
	line-height: 150%;
}

.article-2 {
	width: calc(100vw - 8px);
	transform: translateX(calc((22px + 7px + 22px) * -1));
	padding: 48px;
	padding-inline-start: calc((22px + 7px + 22px));
	background-color: var(--neutral);
	color: #fff;
	position: relative;
}
