body {
	box-sizing: border-box;
	margin-inline: 0;
}

main {
	min-height: unset;
	display: flex;
	flex-direction: column;
	height: calc(100% - 20px);
}

section {
	flex-grow: 1;
	margin-inline-start: 22px;
	transform: translateY(-22px);
	display: flex;
	min-height: 551px;
}

section > *:not(.sep) {
	flex: 50% 1 1;
}

section .sep {
	flex-basis: 1px;
	background-color: var(--neutral);
	opacity: 0.25;
}

section iframe {
	display: block;
	margin-inline: auto;
}

section .info {
	display: flex;
	flex-direction: column;
	padding: 0 22px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	color: var(--neutral-dark);
	margin-bottom: 0;
}

h2 {
	margin-top: 36px;
	margin-bottom: 6px;
	font-weight: 400;
}

h2 .job-title {
	font-size: 70%;
	color: var(--primary);
	font-style: italic;
	padding-inline-start: 4px;
	opacity: 0.8;
}

.contact-info {
	display: flex;
	gap: 8px;
	align-items: center;
	color: var(--neutral);
	margin-top: 8px;
	margin-inline: 16px;
	width: fit-content;
}

.contact-info svg {
	flex-shrink: 0;
}

.contact-info p {
	margin: 0;
}

footer {
	width: 100vw;
}

@media screen and (max-width: 768px) {
	body {
		margin-inline: 8px;
	}

	section {
		flex-direction: column;
		margin-inline-start: 0;
		transform: translateY(0);
		padding-bottom: 48px;
	}

	section iframe {
		width: 100%;
		height: 950px;
	}

	h2 {
		font-size: 20px;
	}

	.contact-info {
		font-size: 16px;
	}

	.contact-info p {
		white-space: nowrap;
	}
}

body {
	display: block !important;
}
