section.hero-section {
	padding-inline: 64px;
	display: flex;
	gap: 48px;
	color: var(--neutral);
}

section.hero-section .hero-section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
}

section.hero-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.hero-section .img-container {
	position: relative;
	width: 40vw;
	height: 30vw;
	flex-shrink: 0;
}

section.hero-section .img-container::after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: -7px;
	height: 220px;
	width: 170px;
	border: 0px solid var(--primary);
	border-left-width: 7px;
	border-bottom-width: 7px;
}

section.hero-section .img-container .sketch-line {
	position: relative;
	width: 170px;
	float: left;
}

section.hero-section .img-container .sketch-line::before {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 0;
	height: 3px;
	width: 35px;
	transform: translateX(100%);
	background-color: var(--primary);
}

section.hero-section .img-container .sketch-line::after {
	content: "";
	position: absolute;
	bottom: -3px;
	right: -35px;
	height: 7px;
	width: 50px;
	transform: translateX(100%);
	background-color: var(--primary);
}

section.hero-section h1 {
	font-size: 70px;
	margin: 0;
}

section.hero-section h1 > span {
	display: block;
	white-space: nowrap;
}

section.hero-section h1 > span:nth-child(1) {
	transform: translate(calc((48px + 268px) * -1));
	display: inline-block;
}

[dir="rtl"] section.hero-section h1 > span:nth-child(1) {
	transform: translate(calc((48px + 245px)));
}

section.hero-section h1 > span:nth-child(1) > span:nth-child(1) {
	color: var(--primary);
	text-shadow: 2px 3px 0 #fff;
}

section.hero-section p {
	font-size: 22px;
	margin: 0;
}

section.section-2 {
	padding-inline: 64px;
	margin-block: 140px;
	display: flex;
	gap: 64px;
}

section.section-2 .logo-img-container {
	display: flex;
	direction: ltr;
	flex-direction: column;
	align-items: stretch;
	flex-shrink: 0;
	width: 30vw;
	height: 45vw;
	background-color: var(--primary);
	padding: 48px 48px 48px 0;
}

section.section-2 .logo-img-container .img-1,
section.section-2 .logo-img-container .img-2 {
	flex-grow: 1;
}

section.section-2 .logo-img-container .img-2 {
	padding-left: 48px;
}

section.section-2 .logo-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.section-2 .logo-img-container .sep {
	height: 48px;
	width: 33%;
	align-self: flex-end;
	background-color: #c1c4c5;
	flex-shrink: 0;
}

section.section-2 .section-2-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-block: 100px;
}

section.section-2 .section-2-text h2 {
	font-weight: 400;
	font-size: 52px;
	color: var(--neutral);
	margin: 0;
	margin-bottom: 16px;
}

section.section-2 .section-2-text p {
	font-weight: 400;
	font-size: 22px;
	color: var(--primary);
	margin: 0;
}

section.section-3 {
	margin-block: 140px;
	display: flex;
	background-color: var(--neutral);
	height: 400px;
	width: calc(100vw - 8px);
	--tr: calc((8px + 22px + 7px));
	transform: translateX(calc(var(--tr) * -1));
	box-shadow: 0 2px 22px -4px #00000090;
}

[dir="rtl"] section.section-3 {
	transform: translate(calc(var(--tr)), var(--tr));
}

section.section-3 img {
	width: 45%;
	flex-grow: 0;
	flex-shrink: 0;
	object-fit: cover;
}

section.section-3 .section-3-text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

section.section-3 .section-3-text h3 {
	font-size: 52px;
	margin: 0;
	color: #fff;
	font-weight: 400;
	padding-inline: 10%;
	text-align: center;
}
